<!-- Content -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y p-4 mt-3">
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <h2 class="fw-bold">Talk with your data</h2>
      <p class="lead">Hey Chief, as it stands, this part is still a work in progress.</p>
      <p class="lead">This is because there's actually alot that goes into creating user customizable Machine Learning Models that possess pretty high standard NLU and NLP.</p>
      <p class="lead">But, don't worry, I'm still cooking this and trust me, you'll be blown by it.</p>
      <p class="lead">WATCH OUT!!!!!</p>
      <img src="https://media.tenor.com/I7GuZXfrYmkAAAAi/peach-goma.gif" alt="" class="img-fluid">
    </div>
  </div>
</div>
{% endblock content %}
