
<!-- Content -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Yo!!!!! What's Up Chief?</h5>
              <p class="mb-4">
                Hi, wazza? Welcome aboard, I'm <span class="fw-bold">Tobi</span>. Creator of this here doo-hickey
              </p>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img
                src="https://media.tenor.com/hLlMwJ6eXL4AAAAi/anime-girl-jam-anime-jam.gif"
                height="140"
                alt="View Badge User"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <h3 class="fw-bold">What would you like to do?</h3>
      <p>Again, hello there and welcome to the OCR toolkit. I really couldn't come up with a name for this project. so, in the spirit of a man from Texas who might also fall into the same state of confusion that I did, I decided to call it "DooHickey". DooHickey is a tool that lets you doo-hickey!!!. Okay, that's obviously a joke. BUt, DooHickey is actually a tool that uses custom-trained OCR models to extract text from images and documents and let's you use the extracted data to train ML models with zero code. You can read more about it here and get all th nerdy stats as well.</p>
    </div>
    <div class="col-lg-12 mb-4 order-0">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'resources/img/chat.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Talk to your data</h5>
              <p class="card-text">Are you single? probably yes and I'm guessing thats why you want to talk to your data.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'resources/img/organize.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Organize your data</h5>
              <p class="card-text">Unlike my work desk, DooHickey lets you organize your data in the way you want</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'resources/img/train2.jpg' %}" alt="Card image cap" class="img-fluid">
            <div class="card-body">
              <h5 class="card-title">Train ML models</h5>
              <p class="card-text">Well, unlike my gym life, you can actually train your own custom Ml model using the data extracted from your documents.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

